*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

header {
background-color: rgb(195, 195, 195);
height: 10vh;
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr;
align-items: center;
padding: 0 2rem;
}

header section:nth-child(1){
grid-column: 1/2;
}
    

header section:nth-child(2){
justify-self: end;
grid-column: 2/3;
}

main{
height: 80vh;
grid-template-columns: 1fr 3fr 1fr;
display: grid;
}

footer{
height: 10vh;
padding: 0 2rem;
display: grid;
justify-items: center;
align-items: center;
}

aside, .content-container {
border: 1px solid rgb(0, 0, 0);
padding: 1rem;
}

.gallery{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: auto;
gap: 1em;
padding: 1em;
text-align: center;
}
